<div class="container">
  <a href="/news">GO BACK</a>
  <div *ngIf="article" class="one-article">
    <h2>{{ article.title }}</h2>
    <p><span class="bold">Long Description: </span>{{ article.fullDescription }}</p>
    <img [src]="article.image" alt="{{ article.title }}">
    <div class="one-article-info">
      <span>
        <span class="bold">Likes:</span> {{ article.likes }}
      </span>
        <span>
        <span class="bold">Published on:</span> {{ article.createdAt | date:'mediumDate' }}
      </span>
        <span>
        <span class="bold">Category:</span> {{ article.category.name }}
      </span>
    </div>
  </div>
</div>
